.myBtn{
    margin: 15px 200px;
    padding: 10px 25px;
    color: teal;
    font-size: 20px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    justify-content: space-between;
    text-align: center;

}